.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: link-color;
  text-decoration: none;
  outline: 0; }
  a a:hover, a a:focus {
    color: #d89993; }

::selection {
  background: #BD5248; }

::-moz-selection {
  background: #BD5248; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #BD5248; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header {
  height: 450px;
  background: url(../img/hero2-bg.jpg) center center;
  background-size: cover; }
  header .logo {
    height: 50px;
    width: 50px;
    background: #333;
    float: left;
    font-size: 25px;
    text-align: center;
    line-height: 2;
    color: white;
    margin: 10px 0 0 30px; }
  header nav {
    float: right;
    margin: 30px 30px 0 0; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      header nav a:hover {
        color: black; }
  header h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: 8px solid white; }
  header .kicker {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1; }

footer {
  background: url(../img/hero2-bg.jpg) center center;
  background-size: cover; }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup::after {
      clear: both;
      content: "";
      display: table; }
    footer .lockup .logo {
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 30px; }
    footer .lockup .content-wrap {
      float: left; }
      footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4); }
